@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Old School BlockBuster</h1>
    <p class="lead">The throwback of an excellent movie rental spot.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Customers", "Index", "Customers")</h2>
        <p>
            What makes us different is the lakjs dfkjsd flkjsalkdjf lksaj dflkj salkjfd
            asldkjf lksajdflk jslk fjklsjdfkljioeajflksf jksjdf
            asdf jkl;sajdflkjsldjfioejflksjdljd!lksj dflkjslkfjk!
        </p>
      </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Movies", "Index", "Movies")</h2>
        <p>You can check out what movies we have in stock at any given time on this website!</p>
     </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Rentals", "Index", "Rentals")</h2>
        <p>You can check out when the movie you want is due back!</p>
     </div>
</div>